$baseFontSize: 75;//基于视觉稿横屏尺寸/100得出的基准font-size
@function rem($num){ //适配数值函数
    @return  $num/$baseFontSize * 1rem;
}

//头部
.classifyHeader{
    
}
//内容
.classifySection{height:100%;background: #fff;-webkit-box-sizing: border-box;
    .nav{background: #fff;color:#333;font-size:rem(32);height:rem(86);display: -webkit-flex;justify-content: space-around;align-items: center;height:rem(86);flex: 1;background: #f7f7f7;position: relative;
        li{height:100% ;display: -webkit-flex;flex-direction: column;justify-content: center;align-items: center;position: relative;
            .navtitle{display: block;width: 100%;height: 100%;line-height:rem(86);padding:0 rem(16); text-align: center}
            .navborders{position: absolute;width:rem(30) ;height:#ffa115;height:1px;bottom:rem(14); margin: 0 auto;}
            .theBox{height:90%;overflow-y: auto;position: fixed;top:rem(86);left:0;width: rem(750);padding-top: rem(32);padding-bottom:10%;-webkit-box-sizing: border-box}
        }
    }
    .jiancaiBox{
        .title{text-indent: rem(42);height: rem(58);font-size: rem(26);color:#333;}
        .contentBox{display: -webkit-flex;justify-content: flex-start;align-items: flex-start;flex-wrap: wrap;
            li{width: rem(135);padding-left:rem(42);padding-bottom: rem(28);
                img{height:rem(135);width:rem(135);}
                p{font-size:rem(24) ;color:#333;padding-top: rem(16);text-align: center}
            }
        }
    }
}